.book-shelf {
    margin: 0px;
}

.cat-logo {
    margin-bottom: 1vh;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.cat-logo-specific {
    color: #374151;
    z-index: 1;
    position: relative;
    top: 18px;
    right: 2px;
}

.cat-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #374151;
}

.cat-link:hover, .cat-link:hover > * {
    color: rgb(172, 59, 97);
    font-size: 16px;
    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cat-link:hover > .cat-logo {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

.main-shelf {
    padding-top: 5%;
    background-color: #FFFDDA;
    padding-bottom: 5%;
    text-align: center;
    min-height: 90vh;
}

.books-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.book-tile-container {
    display: flex;
    justify-content: center;
}

.category-main-cont {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

body {
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .books-container {
        grid-template-columns: 1fr;
    }


}
