#annotation-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#annotation-form {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    bottom: 2%;
}

.page-annotation-area {
    width: 80%;
}

#annotation-submit {
    border: none;
    background-color: white;
    position: relative;
    right: -15px;
    bottom: 3px;
    cursor: pointer;
}

#annotation-submit:disabled {
    cursor: default;
}

#page-annotation-text {
    height: 15px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    line-height: 15px;
    border-color: #eee2dc;
}

.page-annotation-text:focus {
    box-shadow: 0px 0px 2px 2px #183a1d;
    border: none;
}
