
.create-book-container label{
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.create-book-container {
  background-color: #eee2dc;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  background-color: #eee2dc;
}

.create-book-container input{
    height: 20px;
}

#book-form-heading {
  margin: 0px;
}

.book-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column;
  justify-content: space-around; */
  height: 520px;
  width: 60%;
  border: 1px solid #374151;
}

.form-title {
  width: 25%;
  text-align: center;
}

.form-synopsis {
  width: 30%;
  height: 100px;
}

.form-foot {
  display: flex;
  justify-content: flex-end;
}

#form-submit {
  background-color: #eee2dc;
  line-height: 2rem;
  position: relative;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    right: 0px;
  }

  #category-input {
    display: flex;
  }

  .title-label, .synopsis-label, .category-label, #private-label {
    display: flex;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


  .right-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
