
.create-book-container label{
      /* padding-bottom: 8px;
      display: flex;
      justify-content: space-between;
      margin: 5px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

#overarching-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cover-image-label {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

#cover-image-label:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

#title-input:focus, #synopsis-input:focus, #category-input:focus, #private-input:focus {
  box-shadow:
  0 0 5px 1px #fff,  /* inner white */
  0 0 3px 1px #edc7b7, /* middle pink */
  0 0 5px 1px #AC3B61; /* outer red */
  transition: all 0.5s ease-in-out;
}

.file-inputs-container {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnails {
  width: 15vw;
  height: 20vw;
}

.thumbnails:hover {
  cursor: pointer;
  box-shadow:
  0 0 5px 1px #fff,  /* inner white */
  0 0 3px 1px #edc7b7, /* middle pink */
  0 0 5px 1px #AC3B61; /* outer purple */
  transition: all 0.5s ease-in-out;
}

.create-book-container {
  background-color: #FFFDDA;
  position: relative;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  background-color: #FFFDDA;
}

.create-book-container input{
    height: 20px;
}

#book-form-heading {
  margin: 0px;
}

#category-input {
  width: 50%;
}

.book-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 520px;
  width: 50%;
  background-color: white;
  border: 1px solid #374151;
}

.book-label {
  display: flex;
  flex-direction: column;
}

.form-title {
  width: 80%;
  text-align: center;
}

.form-synopsis {
  width: 70%;
  height: 100px;
  min-height: 50px;
  max-height: 200px;
}

.form-foot {
  display: flex;
  justify-content: flex-end;
}

#form-submit {
  background-color: #eee2dc;
  line-height: 2rem;
  position: relative;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    right: 0px;
  }

  #category-input {
    display: flex;
  }

  .title-label, .synopsis-label, .category-label, #private-label {
    display: flex;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #edc7b7;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #edc7b7;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


  .right-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }


  .loading-bars {
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 47%;
    width: 80px;
    height: 80px;
  }
  .loading-bars div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loading-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loading-bars div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .loading-bars div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .loading-bars div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes loading-bars {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

#post-image-input {
  display: none;
  /* Here we make the default file input button invisible on the page.
      As the label for this input is connected to it using the htmlFor property, we can style the label as a button instead, and have it behave the same as the <input type="file" />
      This extra step is necessary as the default <input type="file" /> CANNOT be styled with CSS!!
  */
}


.error {
  font-size: 10px;
  color: red;
  height: 10px;
}

.thumbnail-container {
  position: absolute;
  left: 20%;
  top: 25%;
}

/* Create a media query at 820px */
@media (max-width: 820px) {
  #book-form-heading {
    padding-top: 2%;
  }

  .book-form {
    width: 80%;
  }
  .form-title {
    width: 70%;
  }
  .form-synopsis {
    width: 70%;
  }
  .form-foot {
    justify-content: center;
  }
  #form-submit {
    right: 0px;
  }
  .loading-bars {
    right: 40%;
  }
  .thumbnails {
    width: 30vw;
    height: 40vw;
  }
  .create-book-container {
    width: 100%;
  }
  .left-form-container {
    width: 100%;
  }
  .right-form-container {
    width: 100%;
  }
  .file-inputs-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .book-form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  .left-form-container {
    min-height: 70vh;
    display: flex;
  }

  .thumbnail-container {
    left: 30%;
  }
}
