.create-page-container label{
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.create-page-container {
  background-color: #eee2dc;
  position: relative;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-page-container input{
    height: 20px;
}

#page-form-heading {
  margin: 0px;
}

.page-form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-around;
  height: 650px;
  width: 60%;
  border: 1px solid #374151;
}

.form-title {
  width: 80%;
  text-align: center;
}

.form-caption {
  width: 80%;
  height: 100px;
}

.form-foot {
  display: flex;
  justify-content: flex-end;
}

#form-submit {
  background-color: #eee2dc;
  line-height: 2rem;
  position: relative;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

.page-loading-bars {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 47%;
  width: 80px;
  height: 80px;
}
.page-loading-bars div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: page-loading-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.page-loading-bars div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.page-loading-bars div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.page-loading-bars div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes page-loading-bars {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.page-file-inputs-container {
  text-align: center;
}

.file-input-labels {
  border: solid 1px grey;
  width: fit-content;
  padding: 5px;
}

.thumbnails-container {
  border: solid 1px grey;
  min-height: 100px;
}
