.fa-fire {
    color: red;
}

.burn-button, .new-page-button, .revise-button {
    width: fit-content;
    height: fit-content;
}

.fa-file-circle-plus {
    color: green;
}

.fa-pen-to-square {
    color: blue;
}

.user-page-container {
    background-color: #FFFDDA;
    min-height: 90vh;
}

.books-container {
    background-color: #FFFDDA;
    height: fit-content;
}

.banner {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.user-banner-image {
    object-fit: cover;
    width: 100%;
    position: relative;
}

.user-profile-container {
    position: relative;
    display: flex;
    height: 250px;
}

.user-profile-image {
    display: flex;
    height: 90px;
    width: 90px;
    position: absolute;
    border-radius: 100%;
    bottom: 7%;
    left: 8%;
    margin: 5px;
}

.users-stats {
    left: 16%;
    bottom: 4%;
    margin: 0px;
    color: black;
    display: flex;
    background-color: #BAB2B5;
    opacity: 0.8;
    border-radius: 5px;
}

.users-stats > h3 {
    margin: 5px 0 0 5px;
}

.users-stats, .user-page-username, .user-joined{
    position: absolute;
}

.user-joined {
    bottom: 7%;
    right: 10%;
    color: black;
    background-color: #BAB2B5;
    opacity: 0.8;
    border-radius: 5px;
}

.user-page-about {
    position: relative;
    background-color: #BAB2B5;
    height: 400px;
    top: 4%;
    left: 4%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px 1px #fff,  /* inner white */
    0 0 3px 1px #edc7b7, /* middle pink */
    0 0 5px 1px #AC3B61; /* outer red */
}

.user-page-username {
    bottom: 25%;
    left: 16%;
    font-size: 32px;
    color: black;
    margin: 0px;
    transition: all 0.5s ease-in-out;
}

#buffer {
    height: 70px;
}

.user-books {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 417px;
}


.user-profile-container > .modal-button {
    background-color: #FFFDDA;
    position: absolute;
    bottom: 0%;
    left: 35%;
    font-size: medium;
}
/* Write css for the message button */
.open-chat {
    background-color: #FFFDDA;
    position: absolute;
    bottom: 4%;
    left: 45%;
    font-size: medium;
}

.open-chat:hover {
    background-color: #FFFDDA;
    color: #AC3B61;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .user-page-about {
        width: 100vw;
        height: fit-content;
    }

    .user-books {
        grid-template-columns: 1fr;
    }

    .user-page-username {
        bottom: 25%;
        left: 20%;
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 875px) {
    .user-profile-container > .modal-button {
        left: 40%;
    }

}

@media (max-width: 768px) {
    .user-profile-container > .modal-button {
        left: 45%;
    }

    .user-profile-image {
        left: 44%;
        bottom: 35%;
    }

    .user-page-username {
        bottom: 25%;
        left: 45%;
    }

    #buffer {
        height: 60px;
    }

    .user-page-container {
        min-height: 100vh;
    }
}

@media (max-width: 580px) {
    .user-profile-container > .modal-button {
        right: 0%;
        left: auto;
        bottom: 50%;
    }
}
